.YTPlayer-container-grid {
    padding-top: 5px;
}

.MuiSlider-thumb {
    transition: left 0.5s;
}

.MuiSlider-thumb.MuiSlider-active {
    transition: left 0s;
}

.MuiSlider-track {
    transition: width 0.5s;
}
